# API Keys
GEMINI_API_KEY=

# Google Sheets Apps Script Web App Deployment URL
GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxxMuFP5evxDx8vxd3BfCQgx73H88KTOB87AzbiCAEx69UVJE1qmoCMyF9KM9qljvAX/exec
